@inject IState<FoodState> FoodState
@inject IState<FilterState> FilterState
@using SeasonalFoods.Store.AdvancedSearch
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/busqueda-avanzada"


<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-column gap-3 my-10">
    <div class="d-flex flex-column pl-2 gap-3">
        <h3 style="font-weight: 700;">Búsqueda Avanzada</h3>
        <MudDivider Class="pl-3"></MudDivider>
    </div>
    <Filters></Filters>


    @foreach (var item in FoodState.Value.FoodSummarizeds)
    {
        <FoodItem Name="@item.Name"
                  Quality="@item.Quality"
                  Price="@item.Price"
                  Region="@item.Region"
                  Unit="@item.Unit"
                  ShopPlace="@item.ShopPlace"/>
    }


</MudContainer>


@code{

}